/***colors */


/*** * sizes */


/*** * other */


/*** * mixins */


/*** * placeholder * can be deleted in live environment */

html {
    font-size: 0.7vw;
    /*10px;*/
    background: silver;
    height: 100%;
}

body {
    /*max-width: 1200px;*/
    /*min-height: 100%;*/
    /*margin: auto;*/
    background: silver;
    padding-bottom: 0;
    /*font-size: 1.5rem;*/
    /*line-height: 2.2rem;*/
}


/*** * collage designer wrapper */

.collage {
    margin-top: 3vw !important;
    /*** * cta button */
}

.collage-designer-wrapper {
    font-size: 1.5rem;
    line-height: 2.2rem;
    display: block;
    flex-direction: column;
    /*margin-bottom: 2.8rem;*/
    /*height: 90vh;*/
}

@media all and (orientation: landscape) and (min-height: 40rem) {
    .collage-designer-wrapper {
        height: 47vw/*40rem;*/
    }
}

.collage-designer-wrapper *,
.collage-designer-wrapper *:before,
.collage-designer-wrapper *:after {
    box-sizing: border-box;
}

.collage-main {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    height: 47vw;
}

@media all and (orientation: landscape) and (min-height: 40rem) {
    .collage-main {
        flex-direction: row;
        /*height: 45.3rem;*/
    }
}

.collage-toolbar {
    height: 6rem;
    margin: 2rem 0 0 0;
}

@media all and (orientation: landscape) and (min-height: 40rem) {
    .collage-toolbar {
        margin: 0 2rem 0 0;
        height: 45.3rem;
        width: 38rem;
    }
}

.collage-content {
    flex: 1;
}

.collage-footer {
    height: 4rem;
    margin-top: 0.7rem;
    display: flex;
    justify-content: center;
}

@media all and (orientation: landscape) and (min-height: 40rem) {
    .collage-footer {
        justify-content: flex-end;
    }
}

.collage-content {
    display: flex;
    flex-direction: column;
}

.collage-content-center {
    align-items: center;
}

.collage-content-tools {
    height: 4rem;
    margin-bottom: 0.7rem;
}

.collage-content-canvas {
    flex: 1;
    /*overflow: hidden;*/
    display: block;
}

@media all and (orientation: landscape) and (min-height: 40rem) {
    .collage-content-canvas {
        height: calc(45.3rem - 4rem - 0.7rem - 21rem);
    }
}

#canvas {
    width: 100%;
    height: 100%;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    border: 1px dashed #5c6166;
    font-size: 10rem;
    color: rgba(92, 97, 102, 0.3);
    overflow: hidden;
}


/*** * tools */


/*** * functional styles */


/*** * tabs */

.toolbar-icon {
    width: 24px;
    height: 24px;
}

.toolbar-button-input {
    display: none;
}

.open .toolbar-button-input:checked+.toolbar-button,
.landscape .toolbar-button-input:checked+.toolbar-button {
    color: currentColor;
    background: #f2f2f2;
    position: relative;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.open .toolbar-button-input:checked+.toolbar-button:before,
.landscape .toolbar-button-input:checked+.toolbar-button:before {
    display: block;
    content: ' ';
    height: 3px;
    width: 100%;
    background: #f2f2f2;
    top: -3px;
    left: 0;
    right: 0;
    position: absolute;
}

@media all and (orientation: landscape) and (min-height: 40rem) {
    .open .toolbar-button-input:checked+.toolbar-button:before,
    .landscape .toolbar-button-input:checked+.toolbar-button:before {
        height: 100%;
        width: 3px;
        top: 0;
        left: auto;
        right: -3px;
    }
}

.toolbar-button-input:checked+.toolbar-button-inner {
    opacity: 1;
    color: #00aff0;
    border-color: #00aff0;
    background: rgba(255, 255, 255, 0.5);
}

.toolbar-button {
    flex: 1;
    flex-basis: 20%;
    /* depends on number of tabs */
    height: 6rem;
    font-size: 0;
    line-height: 0;
    background: transparent;
    color: #5c6166;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}

@media all and (orientation: landscape) and (min-height: 40rem) {
    .toolbar-button {
        font-size: 1.5rem;
        line-height: 2.2rem;
        padding: 0.7rem;
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 0;
        width: 9.06rem;
        height: 9.06rem;
        background-color: #fff;
    }
}

@media all and (orientation: landscape) and (min-height: 40rem) {
    .toolbar-button:hover {
        cursor: pointer;
        color: #00aff0;
    }
}

.toolbar-button-inner {
    flex: 1;
    flex-basis: 50%;
    height: 6rem;
    cursor: pointer;
    opacity: 0.7;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transition: all 0.2s linear;
}

@media all and (orientation: landscape) and (min-height: 40rem) {
    .toolbar-button-inner {
        display: none;
    }
}

.toolbar-content {
    display: none;
    opacity: 0;
    transition: all 0.2s linear;
}

@media all and (orientation: landscape) and (min-height: 40rem) {
    .toolbar-content {
        opacity: 1;
    }
}

.toolbar-contenttab {
    display: none;
    opacity: 0;
    transition: all 0.2s linear;
    overflow: auto;
    flex: 1;
    flex-basis: 100%;
    height: calc(100% - 6rem);
}

@media all and (orientation: landscape) and (min-height: 40rem) {
    .toolbar-contenttab {
        display: block;
        opacity: 1;
        height: auto;
        padding-bottom: 0;
        overflow: visible;
    }
}


/*** * main tabs * maybe use a mixin instead of this... https://codepen.io/fusco/pen/Wvzjrm */

#collage-layouts:checked~#collage-layouts-content,
#collage-images:checked~#collage-images-content,
#collage-text:checked~#collage-text-content,
#collage-background:checked~#collage-background-content,
#collage-themes:checked~#collage-themes-content {
    display: block;
    opacity: 1;
    transition: all 0.2s linear;
}

.open #collage-layouts:checked~#collage-layouts-content,
.open #collage-images:checked~#collage-images-content,
.open #collage-text:checked~#collage-text-content,
.open #collage-background:checked~#collage-background-content,
.open #collage-themes:checked~#collage-themes-content,
.landscape #collage-layouts:checked~#collage-layouts-content,
.landscape #collage-images:checked~#collage-images-content,
.landscape #collage-text:checked~#collage-text-content,
.landscape #collage-background:checked~#collage-background-content,
.landscape #collage-themes:checked~#collage-themes-content {
    border-bottom: 3px solid #f2f2f2;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

#collage-layouts:checked~#collage-layouts-content.toolbar-content--has-tabs,
#collage-images:checked~#collage-images-content.toolbar-content--has-tabs,
#collage-text:checked~#collage-text-content.toolbar-content--has-tabs,
#collage-background:checked~#collage-background-content.toolbar-content--has-tabs,
#collage-themes:checked~#collage-themes-content.toolbar-content--has-tabs {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

@media all and (orientation: landscape) and (min-height: 40rem) {
    #collage-layouts:checked~#collage-layouts-content.toolbar-content--has-tabs,
    #collage-images:checked~#collage-images-content.toolbar-content--has-tabs,
    #collage-text:checked~#collage-text-content.toolbar-content--has-tabs,
    #collage-background:checked~#collage-background-content.toolbar-content--has-tabs,
    #collage-themes:checked~#collage-themes-content.toolbar-content--has-tabs {
        display: block;
        overflow: auto;
    }
}


/*** * inner tabs */

#collage-backgrounds-innerTab--colors:checked~#collage-background-innerContent--colors,
#collage-backgrounds-innerTab--borders:checked~#collage-background-innerContent--borders,
#collage-texts-innerTab--signatures:checked~#collage-text-innerContent--signatures,
#collage-texts-innerTab--preview:checked~#collage-text-innerContent--preview,
#collage-images-innerTab--collages:checked~#collage-images-innerContent--collages,
#collage-images-innerTab--images:checked~#collage-images-innerContent--images {
    display: block;
    opacity: 1;
    transition: all 0.2s linear;
}

@media all and (orientation: landscape) and (min-height: 40rem) {
    #collage-backgrounds-innerTab--colors:checked~#collage-background-innerContent--colors,
    #collage-backgrounds-innerTab--borders:checked~#collage-background-innerContent--borders,
    #collage-texts-innerTab--signatures:checked~#collage-text-innerContent--signatures,
    #collage-texts-innerTab--preview:checked~#collage-text-innerContent--preview,
    #collage-images-innerTab--collages:checked~#collage-images-innerContent--collages,
    #collage-images-innerTab--images:checked~#collage-images-innerContent--images {
        height: auto;
    }
}


/*** * optical styles */

.toolbar-wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 6rem;
    background: #fff;
    color: #00aff0;
    z-index: 2;
}

@media all and (orientation: landscape) and (min-height: 40rem) {
    .toolbar-wrapper {
        position: static;
        flex-direction: column;
        flex-shrink: 0;
        width: 38rem;
        height: 47vw;
        /*45.3rem;*/
        /*explicit for dumbass firefox */
    }
}

.toolbar-close-icon {
    position: absolute;
    width: 4rem;
    height: 4rem;
    margin: 0 auto;
    top: calc(0.6 * 90vh * -1 - (4rem/2));
    left: 0;
    right: 0;
    background: #00aff0;
    border-radius: 50%;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: all 0.2s linear;
}

@media all and (orientation: landscape) and (min-height: 40rem) {
    .toolbar-close-icon {
        display: none;
    }
}

.toolbar-close-icon.closed {
    top: -2rem;
    opacity: 0;
    width: 0;
    transform: rotate(180deg);
}

.toolbar-content {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
    flex-shrink: 0;
    order: -1;
    overflow: auto;
    color: #5c6166;
}

.open .toolbar-content,
.landscape .toolbar-content {
    background: #f2f2f2;
    height: calc(0.6 * 90vh);
}

@media all and (orientation: landscape) and (min-height: 40rem) {
    .open .toolbar-content,
    .landscape .toolbar-content {
        height: 100%;
    }
}

@media all and (orientation: landscape) and (min-height: 40rem) {
    .toolbar-content {
        position: static;
        order: 0;
        width: 28.94rem;
        height: 100%;
    }
}

.toolbar-content__section {
    margin: 1.4rem;
}

.toolbar-content__horizontal {
    overflow: auto;
    white-space: nowrap;
    flex-wrap: nowrap !important;
    padding: 0.7rem 0;
}

@media all and (orientation: landscape) and (min-height: 40rem) {
    .toolbar-content__horizontal {
        padding: 0;
        height: auto;
        white-space: normal;
        flex-wrap: wrap !important;
    }
}

.toolbar-content__grid {
    margin: -0.7rem;
    width: calc(100% + 0.7rem*2);
    display: flex;
    flex-wrap: wrap;
    padding: 0.7rem 0;
}

.toolbar-content__grid--1-1>* {
    position: relative;
}

.toolbar-content__grid--1-1>*:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: 100%;
}

.toolbar-content__grid--1-1>*>* {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.toolbar-content__grid--2-3>* {
    position: relative;
}

.toolbar-content__grid--2-3>*:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: 150%;
}

.toolbar-content__grid--2-3>*>* {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.toolbar-content__grid--3-2>* {
    position: relative;
}

.toolbar-content__grid--3-2>*:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: 66.6666666667%;
}

.toolbar-content__grid--3-2>*>* {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.toolbar-content__grid--4-3>* {
    position: relative;
}

.toolbar-content__grid--4-3>*:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: 75%;
}

.toolbar-content__grid--4-3>*>* {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.toolbar-content__grid--3-4>* {
    position: relative;
}

.toolbar-content__grid--3-4>*:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: 133.3333333333%;
}

.toolbar-content__grid--3-4>*>* {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.toolbar-content__grid--2-1>* {
    position: relative;
}

.toolbar-content__grid--2-1>*:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: 50%;
}

.toolbar-content__grid--2-1>*>* {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.toolbar-content__grid--1-2>* {
    position: relative;
}

.toolbar-content__grid--1-2>*:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: 200%;
}

.toolbar-content__grid--1-2>*>* {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.toolbar-content__grid-item {
    width: calc(25% - 2*0.7rem);
    width: 46px;
    margin: 0.7rem;
    cursor: pointer;
    flex-shrink: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.toolbar-content__grid-item-new {
    width: calc(25% - 2*0.7rem);
    width: 46px;
    margin: 0.7rem;
    cursor: pointer;
    flex-shrink: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.toolbar-content__grid-item-new-delete {
    text-align: right;
    color: white;
    bottom: auto;
    left: auto;
    font-size: 0;
    line-height: 0;
    opacity: 0.7;
    transition: all 0.2s linear;
    padding: 0 0 0.7rem 0.7rem;
}

.toolbar-content__grid-item-delete {
    text-align: right;
    color: white;
    bottom: auto;
    left: auto;
    font-size: 0;
    line-height: 0;
    opacity: 0.7;
    transition: all 0.2s linear;
    padding: 0 0 0.7rem 0.7rem;
}

@media all and (orientation: landscape) and (min-height: 40rem) {
    .toolbar-content__grid-item-delete:hover {
        opacity: 1;
    }
    .toolbar-content__grid-item-new-delete:hover {
        opacity: 1;
    }
}

@media all and (orientation: landscape) and (min-height: 40rem) {
    .toolbar-content__grid-item {
        width: calc(25% - 2*0.7rem);
    }
    .toolbar-content__grid-item-new {
        width: calc(25% - 2*0.7rem);
    }
    .toolbar-content__grid-item-new:hover {
        color: #00aff0;
        border-color: currentColor;
    }
    .toolbar-content__grid-item:hover {
        color: #00aff0;
        border-color: currentColor;
    }
}

.toolbar-content__grid-image {
    width: 100%;
    height: 100%;
}

.toolbar-content__grid-image-new {
    max-width: 100%;
    max-height: 100%;
}

.toolbar-content__grid[class*="formats"] .toolbar-content__grid-item {
    border-color: transparent;
}

.toolbar-content__grid[class*="formats"] .toolbar-content__grid-item-new {
    border-color: black;
}

.toolbar-content__grid-button {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    outline: none;
    color: rgba(0, 0, 0, 0.2);
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

@media all and (orientation: landscape) and (min-height: 40rem) {
    .toolbar-content__grid-button:hover {
        color: currentColor;
    }
}

.toolbar-content__grid--colors {
    display: flex;
}

@media all and (orientation: landscape) and (min-height: 40rem) {
    .toolbar-content__grid--colors {
        flex-wrap: wrap;
        padding: 0;
        margin: -0.7rem;
    }
}

.toolbar-content__grid[class*="--colors"] .toolbar-content__grid-item {
    width: 4rem;
    height: 4rem;
    margin: 0.7rem;
    cursor: pointer;
    flex-shrink: 0;
    border-radius: 50%;
}

.toolbar-content__grid[class*="--colors"] .toolbar-content__grid-item-new {
    width: 4rem;
    height: 4rem;
    margin: 0.7rem;
    cursor: pointer;
    flex-shrink: 0;
    border-radius: 50%;
}

@media all and (orientation: landscape) and (min-height: 40rem) {
    .toolbar-content__grid[class*="--colors"] .toolbar-content__grid-item {
        width: calc(20% - 2*0.7rem);
        height: auto;
    }
    .toolbar-content__grid[class*="--colors"] .toolbar-content__grid-item-new {
        width: calc(20% - 2*0.7rem);
        height: auto;
    }
}

.toolbar-content__grid[class*="--colors"] .toolbar-content__grid-button {
    border-radius: 50%;
}

.toolbar-content__fonts {
    display: flex;
    flex-flow: column;
    margin: -0.7rem;
}

.toolbar-content__font {
    margin: 0.7rem;
    padding: 0.7rem;
    font-size: 2.1rem;
    line-height: 2.8rem;
    color: currentColor;
    background: none;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    cursor: pointer;
}

.toolbar-content__font.active {
    border-color: #00aff0;
    background: rgba(255, 255, 255, 0.5);
}

@media all and (orientation: landscape) and (min-height: 40rem) {
    .toolbar-content__font:hover {
        border-color: #00aff0;
        background: rgba(255, 255, 255, 0.5);
    }
}

.toolbar-content__formats {
    display: flex;
    align-items: center;
    padding: 0.7rem 0;
    margin: -0.7rem;
}

@media all and (orientation: landscape) and (min-height: 40rem) {
    .toolbar-content__formats {
        flex-wrap: wrap;
    }
}

.toolbar-content__format-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.2);
}

@media all and (orientation: landscape) and (min-height: 40rem) {
    .toolbar-content__format-holder:hover {
        color: #00aff0;
    }
}

.toolbar-content__format {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid currentColor;
    margin: auto;
}

.toolbar-content__format--1-1 {
    width: 48px;
    height: 48px;
}

.toolbar-content__format--2-3 {
    width: 32px;
    height: 48px;
}

.toolbar-content__format--3-2 {
    width: 48px;
    height: 32px;
}

.toolbar-content__format--4-3 {
    width: 48px;
    height: 36px;
}

.toolbar-content__format--3-4 {
    width: 36px;
    height: 48px;
}

.toolbar-content__format--2-1 {
    width: 48px;
    height: 24px;
}

.toolbar-content__format--1-2 {
    width: 24px;
    height: 48px;
}

.toolbar-content__margins {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0px auto;
    width: 100%;
}

.toolbar-content__margins td {
    padding: 0;
    line-height: 0;
    border-style: solid;
    border-width: 0px;
    overflow: hidden;
    word-break: normal;
    vertical-align: middle;
}

.toolbar-content__margins td p {
    line-height: 2.2rem;
}

.toolbar-content__margins-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.toolbar-content__margins-value {
    font-size: x-small;
    float: right;
    margin-right: 1rem;
}

.toolbar-content__margins-lock {
    width: 2.7rem;
    height: 1px;
    color: grey;
}

.toolbar-content__margins-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.toolbar-content__margins-button:before,
.toolbar-content__margins-button:after {
    content: '';
    display: block;
    height: 1.9rem;
    width: 1.5rem;
    border: 2px solid currentColor;
    border-left: 0;
}

.toolbar-content__margins-button:before {
    border-bottom: 0;
}

.toolbar-content__margins-button:after {
    border-top: 0;
}

.toolbar-content__margins-icon {
    align-self: flex-end;
}

.toolbar-content__margins .margin-slider {
    padding: 8px;
}

.toolbar-content__margins .margin-slider-input {
    width: 100%;
    height: 6px;
}

.toolbar-content__select {
    display: inline-block;
    position: relative;
    font-size: small;
}

.toolbar-content__select svg {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    top: 0;
    pointer-events: none;
}

.toolbar-content__select select {
    width: 100%;
    background: transparent;
    border: none;
    appearance: none;
    padding-right: 24px;
}

.toolbar-content__select select:focus {
    outline: none;
}


/* Image item style */

.selected_image_item {
    border: 1px solid black;
    opacity: 0.5;
    outline-offset: -10px;
}

.selected_signature_item {
    border: 1px solid black;
    opacity: 0.5;
    outline-offset: -10px;
}

.image_item_container {
    background-color: blue;
    width: 80%;
    height: auto;
}

.image_item {
    height: auto;
    width: 100%;
}


/* Gridstack element edit */

.grid-stack-item {
    border: 5px solid;
    border-color: black;
}

.grid-stack-item-content {
    background-size: 100% 100%;
    /*background-repeat: no-repeat;*/
}

.toolbar-content__grid-image_2 {
    width: 100%;
    height: 100%;
}

.editor_preview_wrapper {
    /*overflow: scroll;*/
    height: max-content;
}

.editor_preview_container {
    display: flex;
    height: 100px;
}

.editor_text_preview {
    flex: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    word-break: break-all;
    width: 60%;
    text-align: center;
}

.editor_signature_img {
    width: 40%;
    /*   word-break: break-all;
    width:60%;
    text-align: center;
}
.editor_signature_img{
    width:40%;*/
}

.handle-top-rigth {
    display: none;
    right: 0px !important;
    top: 0px !important;
    z-index: 100;
    position: absolute !important;
    cursor: url(../img/borrar-2.png), url(../img/borrar.png), crosshair;
    /*crosshair;*/
}

.selected_image_item_container>.handle-top-rigth {
    display: block;
    right: 0px !important;
    top: 0px !important;
    z-index: 100;
    position: absolute !important;
    cursor: url(../img/borrar-2.png), url(../img/borrar.png), crosshair;
}

.selected_signature_item_container>.handle-top-rigth {
    display: block;
    right: 0px !important;
    top: 0px !important;
    z-index: 100;
    position: absolute !important;
    cursor: url(../img/borrar-2.png), url(../img/borrar.png), crosshair;
}

.custom-icon-x-shape {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiBjbGFzcz0iYmkgYmkteCIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik00LjY0NiA0LjY0NmEuNS41IDAgMCAxIC43MDggMEw4IDcuMjkzbDIuNjQ2LTIuNjQ3YS41LjUgMCAwIDEgLjcwOC43MDhMOC43MDcgOGwyLjY0NyAyLjY0NmEuNS41IDAgMCAxLS43MDguNzA4TDggOC43MDdsLTIuNjQ2IDIuNjQ3YS41LjUgMCAwIDEtLjcwOC0uNzA4TDcuMjkzIDggNC42NDYgNS4zNTRhLjUuNSAwIDAgMSAwLS43MDh6Ii8+Cjwvc3ZnPg==");
    width: 20px;
    height: 20px;
}

.editor_text_preview::-webkit-scrollbar {
    display: none;
}

img {
    text-indent: -10000px
}


/* Preloder */

#preloder {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background: #000;
}

.loader {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    border-radius: 60px;
    animation: loader 0.8s linear infinite;
    -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        border: 4px solid #673ab7;
        border-left-color: transparent;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
    50% {
        -webkit-transform: rotate(180deg);
        border: 4px solid #673ab7;
        border-left-color: transparent;
    }
    100% {
        -webkit-transform: rotate(360deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
}


/* Optionally define a fixed width for menus */

.ui-menu {
    width: 220px;
    z-index: 10000;
    background-color: #fffdfdc0;
}


/* Allow to use <kbd> elements inside the title to define shortcut hints. */

.ui-menu kbd {
    padding-left: 1em;
    float: right;
}


/* Define a custom icon */

.ui-icon.custom-icon-firefox {
    background-image: url("//raw.githubusercontent.com/mar10/jquery-ui-contextmenu/master/demo/application_firefox.gif");
    background-position: 0 0;
}

.ui-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    outline: 0;
}

.ui-menu .ui-menu {
    position: absolute;
}

.ui-menu .ui-menu-item {
    margin: 0;
    cursor: pointer;
    /* support: IE10, see #8844 */
    list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
}

.ui-menu .ui-menu-item-wrapper {
    position: relative;
    padding: 3px 1em 3px .4em;
}

.ui-menu .ui-menu-divider {
    margin: 5px 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border-width: 1px 0 0 0;
}

.ui-menu .ui-state-focus,
.ui-menu .ui-state-active {
    margin: -1px;
}


/* icon support */

.ui-menu-icons {
    position: relative;
}

.ui-menu-icons .ui-menu-item-wrapper {
    padding-left: 2em;
}


/* left-aligned */

.ui-menu .ui-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: .2em;
    margin: auto 0;
}


/* right-aligned */

.ui-menu .ui-menu-icon {
    left: auto;
    right: 0;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid #673ab7;
    background: #683ab7be;
    font-weight: normal;
    color: #ffffff;
}


/*Recortar imagen*/

.croppr-container {
    max-width: 90%;
}

#editImage {
    max-height: 60vh;
    max-width: 90%;
    width: 90%;
}

#preview {
    max-width: 90%;
    max-height: 40vh;
}

#rngBordes {
    max-width: 90%;
}

#content__Preview {
    width: 90%;
    height: 40vh;
}

.croppr-image {
    max-height: 60vh;
}

.cropper-view-box,
.cropper-face {
    border-radius: 50%;
}

#imgCircular {
    max-width: 90%;
    max-height: 40vh;
    margin-left: 50px;
}


/*---------------------
  Services
-----------------------*/

.services.services-page {
    padding-bottom: 80px;
}

.services.services-page .services__item p {
    margin-bottom: 12px;
}

.services.services-page .services__item ul li {
    color: #111111;
    font-size: 15px;
    line-height: 36px;
    list-style: none;
}

.services__item {
    margin-bottom: 30px;
}

.services__item h4 {
    color: #111111;
    text-transform: uppercase;
    margin-top: 35px;
    margin-bottom: 22px;
}

.services__item p {
    margin-bottom: 0;
}